@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

.bold-warning-title{
  color: $yellow-color;
  font-family: "lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.flat-warning-button{
  @include button-variant($black, $yellow-color, $yellow-color);
  border-radius: 0px;
  font-family: "lato";
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase
}

.warning-text{
  color: $yellow-color;
  font-family: 'lato';
  font-size: 14px;
}

.warning-bold-text{
  font-size: 30px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  color: $yellow-color;
}

.logo{
  width: 70px;
  height: auto;
  margin-left: 20px;
}
.navbar-purple{
  background-color: $dark-purple;
  border-bottom: 3px solid $yellow-color;
}
